{% extends "Layout.html" %}

{% block title %}
       ADD NEW USER
{% endblock %}


{% block stylesheet %}


{% endblock %}


{% block Body %}
<!-- CONTAINER -->
<div class="container">
    
    <!-- CARD -->
   <div class="card" style="margin-top: 10%">
      <div class="card-body">
        <center>
            <h5 class="card-title">USER REGISTRATION</h5>
        </center>
          {% if Message %}
           <div class="alert alert-danger" role="alert">
              {{ Message | safe }}
            </div>
          {% endif %}
        
          
        <!-- FORM -->
        <form action="/registeruser" method="post">
          <div class="form-group">
            <label for="FirstName">Frist Name *</label>
            <input type="text" class="form-control" name="FirstName" id="FirstName" placeholder="Enter your first name" required>
          </div>
            <div class="form-group">
            <label for="LastName">Last Name</label>
            <input type="text" class="form-control" name="LastName" id="LastName" placeholder="Enter your last name" required>
            
          </div>
          <div class="form-group">
            <label for="EmailID">Email address *</label>
            <input type="email" class="form-control" name="EmailID" id="EmailID" aria-describedby="emailHelp" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password *</label>
            <input type="password" class="form-control" name="Password" id="Password" placeholder="Password" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <!-- END FORM -->
          
      </div>
    </div>
    <!-- END CARD -->
    
</div>
<!-- END CONTAINER -->
{% endblock %}


{% block script %}

{% endblock %}